.footer{
    background-color: lightsteelblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 20rem;
    bottom:0px;
    padding-top: 20px;
}
.footer .left, 
.footer .right{
    width: 30%;
    display: flex ;
    justify-content: flex-start;
    flex-direction: column;
}

.login-art, .alta-alumnos-art, .solicitud-inicio-art, .seguimiento-art{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login, .alta-alumnos {
    width: 30%;
}
.login h3, .alta-alumnos h3{
    width: 50%;
    margin-left: 25%;
}
.login form, .alta-alumnos form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listado-solicitudes{
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.listado-solicitudes table, .seguimiento-art table{
    width: 100%;
}

.perfil-art{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.perfil-art table{
    width: 50%;
}

.informe-art {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.informe-art table{
    width: 60%;
}

.solicitud-inicio{
    width: 40%;
}

.form-control{
    width: 100%;
}