@import "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #c2bfbf;
}

.page-body {
    min-height: 70vh;
    background-color: #f1f1f1;
}

.navbar {
    background-color: blue;
}

.usr-menu-btn {
    color: blue;
}

.header {
    padding-top: 0.5rem;
}

.modal-content {
    color: black;
}

.usr-menu ul {
    padding: 0;
    overflow: hidden;
}
.usr-menu ul li {
    padding: 0.5rem;
}

.usr-menu ul li:hover {
    background-color: rgb(219, 218, 218);
}
